__pycache__/
build/
dist/
wheels/
venv/
.venv/
.vscode/
.idea/
.git/
.ruff_cache/

*.egg-info
*.py[oc]

.gitignore
.env.example
.pre-commit-config.yaml

docker-compose.yml
Dockerfile
README.md
ruff.toml
